<h1>Viewing all restaurants</h1>

<div>
	<% @restaurants.each do |restaurant| %>
	<p>
			<div> <%= link_to "#{restaurant.name}", restaurant_path(restaurant) %> </div>
			
			<div> <%= restaurant.category.category_name %> </div>
	</p>
	<% end %>
</div>
